@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1rem;
}

[data-highlighted-line],
[data-highlighted-chars] {
  background-color: #2a4668;
}
