name: Sync Changes from Template
on:
  schedule:
    # Run at 6:00 AM every sunday
    - cron: "*/2 * * * *"

jobs:
  sync-from-template:
    if: github.repository != 'acm-ucr/hackathon-website'
    name: Sync changes from acm-ucr/hackathon-website
    runs-on: ubuntu-latest

    steps:
      - name: add remote
        run: |
          git remote add template https://github.com/acm-ucr/hackathon-website
          git fetch --all
          gh pr create -B dev -H template/dev --title 'Merge branch_to_merge into base_branch' --body 'Created by Github action'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
